body {
    padding-left: 5px;
}
a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

ol{
    padding-inline-start: 15px;
}
.main {
    padding-bottom: 400px;
    inset-inline-start: 0 !important;
}
.more {
    margin-left: 0px;
}
.forms {
    text-align: right;
}
.pin {
    position: fixed;
    top: 0;
    right: 0;
}
.textsearch input {
    width: 6rem;
    font-size: 1rem;
}
.list {
    max-width: calc(100% - 6rem - 2rem)
}
.wn .self span {
    position: relative;
    z-index: 1;
}
.wn {
    margin-top: 1em;
}
button {
    border: none;
    margin-right: 5px
}
button.open {
    background-color: rgb(255, 201, 216);
    border: none;
}

/*wordlistを横並び*/
.words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.word {
    /* padding-right: 5px; */
}
.word+.word:before {
    content: ", "
}
.usu {
    opacity: 0.5;
}
button.search {
    font-size: 1.2rem
}